@keyframes moveLeftoRight {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  60% {
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes moveRightoLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  60% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes btnMoveUp {
  0% {
    transform: translateY(4rem);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Noto", sans-serif;
  line-height: 1.7;
  font-size: 1.6rem;
  font-weight: 400;
  color: #777;
  padding: 3rem; }

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* to fix shaking while animation in sub contents */
  backface-visibility: hidden; }

.primery-title {
  color: #fff;
  text-transform: uppercase; }
  .primery-title--main {
    font-size: 6rem;
    display: block;
    letter-spacing: 3rem;
    animation-name: moveLeftoRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    /* animation-delay: 1s;
        animation-iteration-count: 5; */ }
  .primery-title--sub {
    font-size: 2rem;
    display: block;
    letter-spacing: 1.7rem;
    animation: moveRightoLeft 1.5s ease-out;
    /* adjustment */
    margin-bottom: 5rem; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  background: linear-gradient(to right, #7edf6f, #28b485);
  background-clip: text;
  color: transparent;
  transition: all .5s;
  cursor: pointer; }
  .heading-secondary:hover {
    transform: skewY(3deg) skewX(5deg) scale(1.2);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-thertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-mid {
  margin-bottom: 4rem; }

.u-margin-top-big {
  margin-top: 12rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 223, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  /* always try to fit inside the box entirely*/
  background-size: cover;
  /* top position of the image remains stable while bottom will be croped while adjustiing the screen size because of box-sizing  */
  background-position: top;
  /* in these x and y axis contained area shuould be visible in the header */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 35px; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-3 {
    width: calc((100% - 2* 6rem) / 3); }
  .row .col-2-3 {
    width: calc(((100% - 2* 6rem) / 3) * 2 + 6rem); }
  .row .col-1-4 {
    width: calc((100% - 3* 6rem)/ 4); }
  .row .col-2-4 {
    width: calc(2 *((100% - 3* 6rem)/ 4) + 6rem); }
  .row .col-3-4 {
    width: calc(3 *((100% - 3* 6rem)/ 4) + 6rem * 2); }

@media only screen and (max-width: 768px) {
  html {
    font-size: 5px; } }

.feature-box {
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  border-radius: 2px;
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  text-wrap: nowrap;
  transition: transform 0.4s; }
  .feature-box__icon {
    font-size: 6rem;
    padding-bottom: .5rem;
    display: inline-block;
    background: linear-gradient(to right, #7edf6f, #28b485);
    background-clip: text;
    color: transparent; }
  .feature-box__text {
    text-wrap: balance;
    text-transform: none; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05); }

.btn {
  backface-visibility: hidden; }
  .btn-white {
    color: #777;
    background-color: #fff;
    font-size: 1.6rem; }
    .btn-white::after {
      background-color: #fff; }
  .btn-blue {
    color: #fff;
    background-color: #28b485;
    font-size: 1.6rem; }
    .btn-blue::after {
      background-color: #28b485; }
  .btn--animated {
    animation: btnMoveUp 1s ease-out 0.75s;
    /* animation will be applied to the button even before animation start due to delay */
    animation-fill-mode: backwards; }
  .btn:link, .btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 3rem;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    position: relative;
    backface-visibility: hidden;
    will-change: transform; }
    .btn:link::after, .btn:visited::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 10rem;
      z-index: -1;
      transition: all 0.5s; }
    .btn:link:hover, .btn:visited:hover {
      transform: translateY(-5px);
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); }
      .btn:link:hover::after, .btn:visited:hover::after {
        transform: scaleX(1.6) scaleY(1.6);
        opacity: 0; }
    .btn:link:active, .btn:visited:active {
      transform: translateY(-1px);
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }

.btn-learn-more:link, .btn-learn-more:visited {
  font-size: 1.6rem;
  color: #28b485;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 3px;
  padding: .5rem;
  border-bottom: 1px solid #7edf6f;
  transition: all 0.3s; }

.btn-learn-more:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0rem 1rem 1.4rem rgba(0, 0, 0, 0.25);
  background-color: #28b485;
  color: #fff; }

.btn-learn-more:active {
  transform: translateY(0);
  box-shadow: 0rem 0.5rem 1.8rem rgba(0, 0, 0, 0.1); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0rem 0.1rem 2rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    position: absolute;
    transition: transform 0.2s, opacity 0.2s, outline 0.2s;
    z-index: 10;
    outline-offset: 2rem;
    outline: 1.5rem solid rgba(0, 0, 0, 0);
    backface-visibility: hidden; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0px; }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
    .composition__photo:hover {
      outline-color: #28b485;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0px 1.5rem 2.5rem rgba(0, 0, 0, 0.6);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: transform 1s ease; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      background-color: #2f00ff;
      transform: rotateY(180deg);
      margin: 0 auto; }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #7edf6f, #28b485); }
  .card--text {
    text-transform: none; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 25rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: url(../img/nat-4.jpg);
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: url(../img/nat-3.jpg);
      background-image: linear-gradient(to right bottom, #7edf6f, #28b485), url(../img/nat-7.jpg); }
  .card__heading {
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    font-size: 2.6rem;
    font-weight: 300;
    position: absolute;
    top: 14rem;
    right: 1rem;
    width: 60%; }
  .card__heading--span {
    padding: 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading--span-1 {
      background-image: linear-gradient(to right, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
    .card__heading--span-2 {
      background-image: linear-gradient(to right, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
    .card__heading--span-3 {
      background-image: linear-gradient(to right, rgba(126, 223, 111, 0.8), rgba(40, 180, 133, 0.8)); }
  .card__details {
    width: 60%;
    margin: 0 auto;
    font-size: 1.2rem;
    padding: 3rem; }
    .card__details ul {
      text-decoration: none;
      list-style: none;
      font-weight: 700; }
      .card__details ul li {
        padding: .9rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .card__price-box {
    text-align: center;
    color: #fff; }
  .card__price-only {
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    margin-bottom: 8rem; }

.story {
  margin: 0 auto;
  width: 75%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3rem 6rem rgba(0, 0, 0, 0.1);
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  cursor: pointer;
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  .story__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__image {
    height: inherit;
    transform: translateX(-4rem) scale(1.5);
    transition: transform 1s; }
  .story__caption {
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    font-size: 1.7rem;
    opacity: 0;
    transition: transform 1s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(2px) brightness(80%); }

.bg__video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
  width: 100%;
  overflow: hidden; }
  .bg__video-content {
    opacity: 0.2;
    object-fit: cover;
    width: 100%;
    height: 100%; }

.form__group:not(:last-child) {
  margin-bottom: 3rem; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  font-family: inherit;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  display: block;
  width: 90%;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #28b485; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  margin-left: 2rem;
  margin-top: 1rem;
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 18rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 223, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -20rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }

.section-stories {
  padding: 10rem 0 10rem 0;
  position: relative; }

.section-book {
  padding: 15rem 15rem;
  background-image: linear-gradient(to right, #7edf6f, #28b485); }

.book {
  height: 50rem;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%; }
  .book__form {
    width: 50%;
    padding: 6rem; }
