.row{
    max-width: $grid-width;
    margin: 0 auto;

    @include respond(tabPort){
        margin: 0 auto;
    }

    &:not(:last-child){
        margin-bottom: $grid-gutter-vertical;
    }

    [class ^= "col-"]{
        float: left;
        &:not(:last-child){
            margin-right: $grid-gutter-horizontal;
            @include respond(tabPort){
                margin-right: 0px;
            }
        }

        @include respond(tabPort){
            width: 100% !important;
            margin-bottom: 5rem ;
            text-align: center;
        }
    }

    @include respond(tabPort){
        max-width: 60rem;
        font-size: 2rem;
    }
    @include clearfix;

    .col-1-2{
        width: calc((100% - #{$grid-gutter-horizontal}) / 2);
    }

    .col-1-3{
        width: calc((100% - 2* #{$grid-gutter-horizontal}) / 3);
    }
    .col-2-3{
        width: calc(((100% - 2* #{$grid-gutter-horizontal}) / 3) * 2 + #{$grid-gutter-horizontal});
    }
    .col-1-4{
        width: calc((100% - 3* #{$grid-gutter-horizontal})/ 4);
    }
    .col-2-4{
        width: calc(2 *((100% - 3* #{$grid-gutter-horizontal})/ 4) + #{$grid-gutter-horizontal});
    }

    .col-3-4{
        width: calc(3 *((100% - 3* #{$grid-gutter-horizontal})/ 4) + #{$grid-gutter-horizontal} * 2);
    }

}