.header{
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(
        to right bottom,rgba($color-primery-light, 0.8), 
        rgba($color-primery-dark, 0.8)), 
        url('../img/hero.jpg');

    /* always try to fit inside the box entirely*/
    background-size: cover;

    //background-blend-mode: multiply;

    /* top position of the image remains stable while bottom will be croped while adjustiing the screen size because of box-sizing  */
    background-position: top;

    /* in these x and y axis contained area shuould be visible in the header */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    position: relative;

    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo{
        height: 3.5rem;
    }
}