
// colors
$color-primery-light:#7edf6f;
$color-primery-dark:#28b485;
// $color-primery-light:#2998ff;
// $color-primery-dark:#5643fa;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-white:#fff; 
$color-gray:#777;
$color-black:black;

$color-gray-light-1: #f7f7f7;


//grid
$grid-width:114rem;
$grid-gutter-vertical:8rem;
$grid-gutter-horizontal:6rem;

//font
$default-font-size :1.6rem;