.bg__video{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     height: 100%;
     z-index: -1;
     width: 100%;
     overflow: hidden;
     &-content{
        opacity: 0.2;
        object-fit: cover;
        width: 100%;
        height: 100%;
     }
}