.btn{
  backface-visibility: hidden;
  cursor: pointer;
  border: none;
    &-white{
        color: $color-gray;
        background-color: $color-white ;
        font-size: $default-font-size;
        &::after{
            background-color: $color-white;
        }

        @include respond(tabPort){
            margin-top: 5rem;
        }
    }

    &-blue{
        color: $color-white;
        background-color: $color-primery-dark;
        font-size: $default-font-size;
        &::after{
            background-color: $color-primery-dark;
        }
    }

    &--animated{
        animation: btnMoveUp 1s ease-out 0.75s;
        /* animation will be applied to the button even before animation start due to delay */
        animation-fill-mode: backwards;
    }
    &,
    &:link,
    &:visited{
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 3.6rem;
        transition: transform 0.5s ease, box-shadow 0.5s ease;
        position: relative;
        backface-visibility: hidden;
        will-change: transform;

        // not resolving flickering
        // transform: translate3d(0, 0, 0);
        // transform: translateY(0);

        
      @include respond(tabPort){
        font-size: 3.5rem;
        padding: 2rem 4.5rem; 
      }

        &::after{
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            border-radius: 10rem;
            z-index: -1;
            transition: all 0.5s;
        }
        &:hover{
            transform: translateY(-5px);
            box-shadow: 0px 10px 20px rgba($color-black, .2);

            &::after{
                transform: scaleX(1.6) scaleY(1.6);
                opacity: 0;
            }
        }
        &:active{
            transform: translateY(-1px);
            box-shadow: 0px 5px 10px rgba($color-black, .2);
        }
     }   
}
.btn-learn-more{
    &:link,
    &:visited{
        font-size: $default-font-size; 
        color:$color-primery-dark;
        text-decoration: none;
        display: inline-block;
        padding-bottom: 3px;
        padding: .5rem;
        border-bottom: 1px solid $color-primery-light;
        transition: all 0.3s;

        @include respond(tabPort){
            font-size: 2.5rem; 
        }
    }

    &:hover{
        transform: translateY(-.5rem);
        box-shadow: 0rem 1rem 1.4rem rgba($color-black, .25);
        background-color: $color-primery-dark;
        color: $color-white;
    }
    &:active{
        transform: translateY(0);
        box-shadow: 0rem .5rem 1.8rem rgba($color-black, .1);
    }
}