.card{
    //FUNCTIONALITY
    // new property that allows to change the prespective of the rotation and this has to be in the parant element the transform
    perspective: 150rem;
    // to make work on mozilla firefox
    -moz-perspective: 150rem;
    position: relative;
    cursor: pointer;
    height: 52rem;

    @include respond(tab-port){
        height: 70rem;
    }

    &__side{
        height: 52rem;
        text-align: center;
        text-transform: uppercase;
        border-radius: 5px;
        cursor: pointer;
        overflow: hidden;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;

        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        
        box-shadow: 0rem 1.5rem 4rem rgba($color-black, 0.15);
    
        transition: transform 1s ease;

        &--front{
            background-color: $color-white;
        }
        &--back{
            background-color: rgb(47, 0, 255);
            transform: rotateY(180deg);
            margin: 0 auto;
            &-1{
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            &-2{
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
            &-3{
                background-image: linear-gradient(to right bottom, $color-primery-light, $color-primery-dark);
            }
        }
    }

    &--text{
        text-transform: none;
    }

    &:hover &__side{

        &--front{
            transform:rotateY(-180deg);
        }

        &--back{
            transform: rotateY(0deg);
        }

    }

    // FRONT SIDE STYLEING
    &__picture{
        background-size: cover;
        height: 25rem;
        background-blend-mode: screen;

        // to make work in all browser
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--1{
            background-image:linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/nat-5.jpg);
        }
        &--2{
            background-image: url(../img/nat-4.jpg);
            background-image:linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/nat-6.jpg);
        }
        &--3{
            background-image: url(../img/nat-3.jpg);
            background-image:linear-gradient(to right bottom, $color-primery-light, $color-primery-dark), url(../img/nat-7.jpg);
        }
    }
    &__heading{
        text-align: right;
        text-transform: uppercase;
        color: $color-white;
        font-size: 2.6rem;
        font-weight: 300;
        position: absolute;
        top: 14rem;
        right: 1rem;
        width: 60%;

        @include respond(tabPort){
            font-size: 4rem;
        }
    }
    &__heading--span{
        padding: 1rem ;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        
        &-1{
            background-image: linear-gradient(to right, rgba($color-secondary-light, 0.8), rgba($color-secondary-dark, 0.8));
        }
        &-2{
            background-image: linear-gradient(to right, rgba($color-tertiary-light, 0.8), rgba($color-tertiary-dark, 0.8));
        }
        &-3{
            background-image: linear-gradient(to right, rgba($color-primery-light, 0.8), rgba($color-primery-dark, 0.8));
        }

    }
    &__details{
        width: 60%;
        margin: 0 auto;
        font-size: 1.2rem;
        padding: 3rem;
        @include respond(tabPort){
           font-size: 2.5rem;
        }
        ul{
            text-decoration: none;
            list-style: none;
            font-weight: 700;

            li{
                padding: .9rem;
                @include respond(tab-port){
                    margin-top: 10rem;
                    font-size: 1rem;
                }
                &:not(:last-child){
                    border-bottom: 1px solid #eee;
                }
            }
        }
    }

    // BACK SIDE
    &__cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__price-box{
        text-align: center;
        color: $color-white;
    }
    &__price-only{
        font-size: 1.4rem;
        font-weight: 300;
        text-transform: uppercase;
    }   
    &__price-value{
        font-family: "Roboto";
        font-weight: 300;
        font-size: 6rem;
        margin-bottom: 8rem;
    }

    @media only screen and (max-width: 56.25em),
    only screen and (hover: none) {
            height: auto;
            border-radius: 3px;
            background-color: $color-white;
            box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

            &__side {
                height: auto;
                position: relative;
                box-shadow: none;

                &--back {
                    transform: rotateY(0);
                    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
                }

                &--front{
                    transform:rotateY(0deg);
                }
            }
            
            &:hover &__side--front {
                transform: rotateY(0);
            }

            &__details {
                padding: 3rem;
                margin-top: 3rem;
            }

            // FRONT SIDE STYLING
            &__cta {
                position: relative;
                top: 0%;
                left: 0;
                transform: translate(0);
                width: 100%;
                padding: 7rem 4rem 4rem 4rem;
            }

            &__price-box {
                margin-bottom: 3rem;
            }
            &__price-only {
                font-size: 3rem;
            }

            &__price-value {
                font-size: 8rem;
                margin-bottom: 0px;
            }
     }
}
