.composition{
    position: relative;
    transition: all 1s;
    @include respond(tabPort){
        padding-bottom: -15rem;
    }

    &__photo{
        width: 55%;
        box-shadow: 0rem .1rem 2rem rgba($color-black, 0.4);
        cursor: pointer;
        position: absolute;
        transition:transform 0.2s, opacity 0.2s, outline 0.2s;
        @include respond(tabPort){
            transition:transform 0.5s, opacity 0.5s, outline 0.5s;
        }

        z-index: 10;
        outline-offset: 2rem;
        outline: 1.5rem solid rgba(0, 0, 0, 0);
        backface-visibility: hidden;

        @include respond(tabPort){
            width: 70%;
        }

        &--p1{
            top: 0rem;
            left: 0rem;
            transition: transform .2s;
            @include respond(tabPort){
                transform: translateX(-8rem) translateY(-1.8rem);
            }
            &:hover{
                left: 0rem;
            }
        }
        &--p2{
            top: 2rem;
            right: 0;
            transition: transform .2s;
            @include respond(tabPort){
                transform: translateY(-4rem) translateX(8rem);
            }
            &:hover{
                right: 0rem;
            }
        }
        &--p3{
            top: 10rem;
            left: 20%;
            transition: transform .2s;
        }
        &:hover{
            outline-color: $color-primery-dark;
            transform: scale(1.1) translateY(-.5rem);
            box-shadow: 0px 1.5rem 2.5rem rgba($color-black, .6);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover){
        transform: scale(1);
    }
}

