.story{
    margin: 0 auto;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0px 3rem 6rem rgba($color-black, 0.1);
    padding: 6rem;
    // because in shape we use transform and that is outside of the box so we increased padding left of the box so that we can contain all the contents in the box
    padding-left: 9rem;
    font-size: $default-font-size;
    
    transform: skewX(-12deg);

    & > *{
        transform: skewX(12deg);
    }

    &__shape{
        height: 15rem;
        width: 15rem;
        float: left;
        background-color: red;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        cursor: pointer;
    }
    &__image{
        height: inherit;
    }
}