.section-about{
    background-color: $color-gray-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tabPort){
        margin-top: -12vh;

        & .heading-thertiary:not(:first-child){
            margin-top: 8rem;
        }
    }


}
.section-features{
    padding: 18rem 0;
    background-image: linear-gradient(
        to right bottom,rgba($color-primery-light, 0.8), 
        rgba($color-primery-dark, 0.8)), 
        url('../img/hero.jpg');
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -20rem;

    // selecting all first child
    & > * {
        transform: skewY(7deg);
    }
    @include respond(tabPort){
        margin-top: 1rem;
        transform: skewY(0deg) translateY(-5rem);

        padding-bottom: 10rem;
        padding-top: 30rem;

        & > * {
            transform: skewY(0deg);
        }
    }
 
}
.section-tours{
 background-color: $color-gray-light-1;
 padding: 25rem 0 15rem 0;
 margin-top: -10rem;
}
.section-stories{
    padding: 10rem 0 10rem 0;
  //  margin-top: -12rem;
    position: relative;
}
.section-book{
    padding: 15rem 15rem;
    background-image: linear-gradient(to right, $color-primery-light, $color-primery-dark);

    @include respond(tabPort){
        padding: 8rem;
    }
}
.book{
    height: 50rem;
    background-image: linear-gradient(105deg, rgba($color-white, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
    background-size: cover;
    
    @include respond(tabPort){
        background-image: linear-gradient(to right, rgba($color-white, 0.9), rgb(192, 192, 192)), url(../img/nat-10.jpg);
        background-size: cover;
        height: 100%;

    }

    &__form{
        width: 50%;
        padding: 6rem;

        @include respond(tabPort){
            width: 100%;
            text-align: center;
        }
    }
}